@import "tailwindcss";

@theme {
  --color-darkBlue: #213555;
  --color-lightBlue: #3e5879;
  --color-darkPurple: #3a3f5b;
  --color-lightPurple: #7b86c1;
  --color-darkGolden: #d8c4b6;
  --color-lightGolden: #f5efe7;
  --color-brown: #57473b;
  --color-beige: #f5efe7;
  --color-slateGrey: #3e5879;
  --color-navyBlue: #101c2e;
  --color-slateBlue: #304e80;
}
